{% extends "base.html" %}
{% block content %}

<h1>EasyFill</h1>
<br>
<p>Enter your event name and password</p>
<form action="" method="post">
  <input type="text" placeholder="Event" name="username" value="{{request.form.username }}">
  <input type="password" placeholder="Enter Password" name="password" value="{{request.form.password }}">
  <input type="password" placeholder="Re-enter Password" name="repassword" value="{{request.form.repassword }}">

  <input class="btn btn-default" type="submit" value="Login">
</form>



{% endblock %}